/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#logo {
	width: 500px;
}

body {
	background-color: #2d85f0;
	position: center;
}

h1 {
	font-family: 'Sigmar One', cursive;
	color: red;
	font-size: 55px;
	text-align: center;
	text-shadow: -3px 3px #000000;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

section {
	background-color: #e4dc5e;
	margin: 30px;
	box-shadow: -5px 5px 2px #000000;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}

#infoSearch h2 {
	font-family: 'Sigmar One', cursive;
	font-size: 30px;
	padding: 5px;
}

#infoSearch p {
	padding: 10px;
	font-size: 20px;
}

#infoSearch input {
	margin: 8px;
}

#infoSearch form {
	display: inline-block;
	background-color: #e3df96;
	padding: 10px;
	border-radius: 10px;
}

button {
	background: url(/finalProject/images/PlayPokemonButton.png) no-repeat;
	width: 111px;
	height: 86px;
	border: 5px outset #505050;
	border-radius: 13px;
	font-weight: bold;
	font-size: 125%;
	color: #0f1585;
	text-shadow: -2px 2px #f2fb04;
}

#searchResult {

}