<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pokemon Battle Arena!</title>
	<link href='https://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="{{ "/scripts/pokemon.js" | prepend: site.baseurl }}"></script>
</head>
<body>

	<img class='logo' src='{{ site.baseurl }}/images/PokemonLogo.png' id='logo'>

	<h1> &nbsp Battle Arena!</h1>

	{{ content }}
	
</body>
</html>